.jumbotron{
    background-image: url('../img/name1.PNG');
    background-size: cover;
    height: 100%;
    min-height: 50px;
   }

.site-footer {
    /*background-image: linear-gradient(#CEC8FF, white);*/
    padding: 20px 0;
}

.navbar{
    /*background-image:url('../img/stripes.PNG');*/
}

.circlePortfolio {
    float: left;
    width: 300px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background:  rgb(218, 221, 20);
}

.circleStore {
    float: left;
    width: 200px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(207, 10, 10);
}

.circleKidsArt {
    float: left;
    width: 200px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(240, 100, 8);
}

.circleAbout {
    float: left;
    width: 200px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background:rgb(137, 197, 24);
}

.circleContactUs {
    float: left;
    width: 200px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(247, 163, 8);
}

.circleBlog {
    float: left;
    width: 200px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: rgb(41, 97, 39);
}

    
.dotPortfolio {                                 /* 960 x 640 iPhone*/ 
    height: 110px;
    width: 110px;
    background-color: rgb(218, 221, 20);
    border-radius: 50%;
    display: inline-block;
    border-color: 15px black;
  }

.dotStore {
    height: 90px;
    width: 90px;
    background-color: rgb(207, 10, 10);
    border-radius: 50%;
    display: inline-block;
}

.dotKidsArt {
    height: 70px;
    width: 70px;
    background-color: rgb(240, 100, 8);
    border-radius: 50%;
    display: inline-block;
}

.dotAbout {
    height: 60px;
    width: 60px;
    background-color: rgb(137, 197, 24);
    border-radius: 50%;
    display: inline-block;
}

.dotContactUs {
    height: 80px;
    width: 80px;
    background-color: rgb(247, 163, 8);
    border-radius: 50%;
    display: inline-block;
}

.dotBlog {
    height: 70px;
    width: 70px;
    background-color: rgb(41, 97, 39);
    padding: 10px 16px; 
    border-radius: 35px; 
    text-align: center; 
}
.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center;  
}

.circle-container {
    position: relative;
    /* width: 200px; */
    /* height: 200px; */
}
.circle-container span {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: white;
    font-weight: 500;
    font-size: 27px;
}
.circle-container .circle {
    border-radius: 50%;
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 20px;
    border: 3px solid black;
    /* clip-path: circle(); */
    background: #EA9901;
    z-index: 0;
}
.item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }

  body {
    font-family: 'Roboto Mono', monospace;
    /*background-image: url(../img/IMG_7057.PNG);*/
}

h1, h2, h3 {
    font-family: 'Roboto Mono', monospace;
}

h2 {
    color: #080808;
}

header h2 {
    color: #d7d6da;
}

    

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

